html {
    height: 1000px;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    animation: animationNav .2s ease-in-out;
    animation-timeline: scroll();
    padding-right: 50px;
    font-family: "Poppins", sans-serif;
    z-index: 99999;
}

nav .nameApp {
    position: relative;
    left: 50px;
    color:  #9333ea;
}

nav .searchContent {
    display: flex;
    border-radius: 50px;
    margin-left: 160px;
}

nav .searchContent img {
    position: relative;
    left: 20px;
    width: 20px;
    top: 6px;
    height: 23px;
    z-index: 99999;
}

nav .searchContent input {
    width: 280px;
    height: 35px;
    position: relative;
    right: 17px;
    padding-left: 50px;
    background-color: #eaeaeaae;
    border: none;
    border-radius: 50px;
    border: 1px solid black;
}

nav .icon {
    display: flex;
}

nav .icon button {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}

nav .icon button img {
    width: 22px;
    animation: animationIcon .2s ease-in-out;
    animation-timeline: scroll();
}

.CardContent {
    display: grid;
    grid-template-rows: 100px 500px 200px;
    position: relative;
    top: 120px;
    left: 100px;
    width: 500px;
    height: 800px;
    border-radius: 25px;
    box-shadow: 2px 2px 25px 0px black;
    margin-bottom: 50px;
}

.CardContent .profil {
    display: flex;
    border-radius: 25px 25px 0px 0px;
    background: white;
    border: 1px solid black;
}

.CardContent .profil .PhotoProfil {
    width: 50px;
    height: 50px;
    margin-top: 22px;
    margin-left: 22px;
    background-color: cyan;
    border-radius: 50%;
    background-image: url('src/assets/profil.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.CardContent .profil .username {
    margin-top: 28px;
    margin-left: 22px;
}

.CardContent .ContentImage {
    background-size:cover;
    background-position: center;
    border: 1px solid black;
}

.CardContent .ActionBox {
    border-radius: 0px 0px 25px 25px;
    background: white;
    border: 1px solid black;
}

.CardContent .ActionBox .icon {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.CardContent .ActionBox .icon img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.CardContent .likes, .caption {
    margin-left: 10px;
    margin-top: 10px;
} 


@keyframes animationNav {
   5% {
      width: 100%;
      height: 60px;
      border: 1px solid black;
    }
    
    50% {
       margin-top: 10px;
       margin-left: 157px;
       width: 85%;
       height: 60px;
       border: 1px solid black;
       border-radius: 10px;
    }
    
    100% {
       margin-top: 10px;
       margin-left: 157px;
       border: 1px solid black;
       border-radius: 10px;
       width: 76%;
       height: 60px;

   }
}

@keyframes animationIcon {
   0% {
      width: 25px;
    }
    
    50% {
       width: 20px;
    }
    
    100% {
       width: 18px;
   }
}